<div class="text-center mt-3">
    <p class="fs-5"><b class="text-capitalize">
            <%- website_name %>
        </b> is a minimalist publishing tool that allows you to create richly formatted posts and push them to the Web
        in just a click.
        In simple words it's a website like Telegra.ph but it can be used as a pastebin too.&nbsp;&nbsp;
    </p>
    
</div>
